  <div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://easydrawingguides.com/wp-content/uploads/2017/02/How-to-draw-a-cartoon-tree-20.png" alt="" width="140" height="140">
    <h1 class="display-5 fw-bold">About Us</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
      Jungle is an online plant store dedicated to bringing the beauty and benefits of plants into your home and workplace. We offer a wide range of plants that are not only aesthetically pleasing but also provide numerous health benefits. Our goal is to make it easy and convenient for you to add a touch of greenery to your life.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
   
        <%= link_to "Home Page", root_path, class:"btn btn-outline-secondary btn-lg px-4" %>
        <%= link_to "Evergreens", '/categories/1', class:"btn btn-success btn-lg px-4" %>
      </div>
    </div>
  </div>
